<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'pro.css' %}">
<body>
    <div class="container">
        <form action="{% url 'Registros_usuarios' %}" method="post">
            <center>
                <h2>Barra de Procura</h2>
            </center>
            {% csrf_token %}
            <div class="search">
                <input name="nome" type="text" placeholder="Nome...">
                <input name="idade" type="number" placeholder="Idade...">
                <input name="estado" type="text" list="Estadolist" placeholder="Estado..."
                accept="{% url 'Registros_usuarios' %}">
                <input type="submit" value="Confirmar">
                <datalist id="Estadolist">
                    {% for resultados in showestados %}
                    <option value="{{resultados.Estado}}">
                    {% endfor %}
                </datalist>
                <div class="list">
                </div>
        </form>
        </div>
    </div>
    
</body>
</html>